Repository danieleschmidt/neoRL-industrial-gym, changes with the owners that CODEOWNERS names for each.
All owners: @danieleschmidt, @terragon-labs/core-team, @terragon-labs/documentation-team, @terragon-labs/release-team, @terragon-labs/devops-team, @terragon-labs/safety-team, @terragon-labs/environment-team, @terragon-labs/algorithms-team, @terragon-labs/performance-team, @terragon-labs/qa-team, @terragon-labs/security-team, @terragon-labs/sre-team

CODEOWNERS:

# Global code ownership for neoRL-industrial-gym

# Default owners for everything in the repository
* @danieleschmidt @terragon-labs/core-team

# Documentation
docs/ @danieleschmidt @terragon-labs/documentation-team
*.md @danieleschmidt @terragon-labs/documentation-team
CHANGELOG.md @danieleschmidt @terragon-labs/release-team

# Configuration files
pyproject.toml @danieleschmidt @terragon-labs/core-team
requirements*.txt @danieleschmidt @terragon-labs/core-team
Dockerfile @danieleschmidt @terragon-labs/devops-team
docker-compose*.yml @danieleschmidt @terragon-labs/devops-team
.github/ @danieleschmidt @terragon-labs/devops-team

# Source code
src/ @danieleschmidt @terragon-labs/core-team
src/neorl_industrial/safety/ @danieleschmidt @terragon-labs/safety-team
src/neorl_industrial/environments/ @danieleschmidt @terragon-labs/environment-team
src/neorl_industrial/agents/ @danieleschmidt @terragon-labs/algorithms-team

# Tests
tests/ @danieleschmidt @terragon-labs/core-team
tests/unit/test_safety* @danieleschmidt @terragon-labs/safety-team
tests/performance/ @danieleschmidt @terragon-labs/performance-team
tests/e2e/ @danieleschmidt @terragon-labs/qa-team

# Scripts and automation
scripts/ @danieleschmidt @terragon-labs/devops-team
scripts/validate_safety.py @danieleschmidt @terragon-labs/safety-team
scripts/security_scan.py @danieleschmidt @terragon-labs/security-team

# Monitoring and observability
monitoring/ @danieleschmidt @terragon-labs/devops-team @terragon-labs/sre-team

# Security-related files
SECURITY.md @danieleschmidt @terragon-labs/security-team
.pre-commit-config.yaml @danieleschmidt @terragon-labs/security-team

Update README.md
  README.md
Owners: @danieleschmidt, @terragon-labs/documentation-team

feat(neorl_industrial): add offline RL framework for industrial control
  src/neorl_industrial/agents/__init__.py
  src/neorl_industrial/agents/base.py
  src/neorl_industrial/agents/cql.py
  src/neorl_industrial/agents/networks.py
  src/neorl_industrial/core/__init__.py
  src/neorl_industrial/core/types.py
  src/neorl_industrial/environments/__init__.py
  src/neorl_industrial/environments/base.py
  src/neorl_industrial/environments/chemical_reactor.py
Owners: @danieleschmidt, @terragon-labs/algorithms-team, @terragon-labs/core-team, @terragon-labs/environment-team

feat(autonomous-sdlc): complete industrial RL framework implementation
  README.md
  examples/basic_usage.py
  run_quality_gates.py
  src/neorl_industrial/__init__.py
  src/neorl_industrial/agents/cql.py
  src/neorl_industrial/config/__init__.py
  src/neorl_industrial/config/defaults.py
  src/neorl_industrial/exceptions.py
  src/neorl_industrial/monitoring/__init__.py
  src/neorl_industrial/monitoring/logger.py
  src/neorl_industrial/utils.py
  test_import.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/core-team, @terragon-labs/algorithms-team, @terragon-labs/devops-team, @terragon-labs/sre-team

feat(core): add enterprise-grade safety, security, and performance features
  DEPLOYMENT_GUIDE.md
  FINAL_IMPLEMENTATION_REPORT.md
  requirements.txt
  src/neorl_industrial/__init__.py
  src/neorl_industrial/_version.py
  src/neorl_industrial/agents/base.py
  src/neorl_industrial/agents/cql.py
  src/neorl_industrial/agents/networks.py
  src/neorl_industrial/environments/chemical_reactor.py
  src/neorl_industrial/monitoring/__init__.py
  src/neorl_industrial/monitoring/performance.py
  src/neorl_industrial/optimization/__init__.py
  src/neorl_industrial/optimization/caching.py
  src/neorl_industrial/optimization/performance.py
  src/neorl_industrial/security.py
  test_basic_functionality.py
  test_comprehensive_functionality.py
  test_quality_gates.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/core-team, @terragon-labs/algorithms-team, @terragon-labs/environment-team, @terragon-labs/devops-team, @terragon-labs/sre-team

feat(core): add complete industrial offline RL framework with safety and scalability
  AUTONOMOUS_IMPLEMENTATION_COMPLETE.md
  src/neorl_industrial/__init__.py
  src/neorl_industrial/agents/__init__.py
  src/neorl_industrial/agents/ensemble.py
  src/neorl_industrial/agents/iql.py
  src/neorl_industrial/agents/networks.py
  src/neorl_industrial/agents/td3bc.py
  src/neorl_industrial/distributed.py
  src/neorl_industrial/environments/__init__.py
  src/neorl_industrial/environments/power_grid.py
  src/neorl_industrial/environments/robot_assembly.py
  src/neorl_industrial/monitoring/alerting.py
  src/neorl_industrial/optimization/__init__.py
  src/neorl_industrial/optimization/auto_tuning.py
  src/neorl_industrial/optimization/memory_optimization.py
  src/neorl_industrial/utils.py
  src/neorl_industrial/validation.py
  validate_security.py
  validate_security_fixed.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/core-team, @terragon-labs/algorithms-team, @terragon-labs/environment-team, @terragon-labs/devops-team, @terragon-labs/sre-team

feat(health,resilience,monitoring): add comprehensive health, resilience, and monitoring systems
  src/neorl_industrial/agents/base.py
  src/neorl_industrial/distributed.py
  src/neorl_industrial/health/__init__.py
  src/neorl_industrial/health/health_checker.py
  src/neorl_industrial/health/metrics_collector.py
  src/neorl_industrial/monitoring/alerting.py
  src/neorl_industrial/monitoring/logger.py
  src/neorl_industrial/optimization/auto_tuning.py
  src/neorl_industrial/optimization/memory_optimization.py
  src/neorl_industrial/optimization/performance.py
  src/neorl_industrial/resilience/__init__.py
  src/neorl_industrial/resilience/circuit_breaker.py
  src/neorl_industrial/resilience/fallback_manager.py
  src/neorl_industrial/resilience/retry_handler.py
  src/neorl_industrial/utils.py
  src/neorl_industrial/validation.py
  tests/performance/test_benchmarks.py
  validate_security.py
Owners: @danieleschmidt, @terragon-labs/algorithms-team, @terragon-labs/core-team, @terragon-labs/devops-team, @terragon-labs/sre-team, @terragon-labs/performance-team

feat(autonomous-sdlc): add Terragon Autonomous SDLC final report and core system modules
  TERRAGON_AUTONOMOUS_SDLC_FINAL_REPORT.md
  benchmarks/performance_benchmarks.py
  docs/DEPLOYMENT_GUIDE_COMPREHENSIVE.md
  scripts/run_quality_gates_comprehensive.py
  src/neorl_industrial/compliance/gdpr_compliance.py
  src/neorl_industrial/monitoring/dashboard.py
  src/neorl_industrial/optimization/distributed_training.py
  src/neorl_industrial/optimization/intelligent_caching.py
  src/neorl_industrial/resilience/circuit_breaker_enhanced.py
  src/neorl_industrial/security/security_framework.py
  src/neorl_industrial/validation/comprehensive_validator.py
  tests/test_comprehensive_system.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/core-team, @terragon-labs/devops-team, @terragon-labs/sre-team

feat(quality_gates): implement Progressive Quality Gates system for neoRL Industrial
  PROGRESSIVE_QUALITY_GATES_IMPLEMENTATION_SUMMARY.md
  docs/PROGRESSIVE_QUALITY_GATES.md
  progressive_quality_gates.py
  src/neorl_industrial/__init__.py
  src/neorl_industrial/compliance/gdpr_compliance.py
  src/neorl_industrial/optimization/distributed_training.py
  src/neorl_industrial/quality_gates/__init__.py
  src/neorl_industrial/quality_gates/adaptive_gates.py
  src/neorl_industrial/quality_gates/gate_executor.py
  src/neorl_industrial/quality_gates/progressive_monitor.py
  src/neorl_industrial/quality_gates/quality_metrics.py
  src/neorl_industrial/quality_gates/real_time_monitor.py
  src/neorl_industrial/validation/comprehensive_validator.py
  test_progressive_quality_gates.py
  test_progressive_quality_gates_simple.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/core-team

feat(industrial_rl): add comprehensive industrial offline RL framework and benchmarks
  RESEARCH_PAPER_DRAFT.md
  src/neorl_industrial/agents/safety_critical.py
  src/neorl_industrial/benchmarks/__init__.py
  src/neorl_industrial/benchmarks/industrial_benchmarks.py
  src/neorl_industrial/compliance/international_standards.py
  src/neorl_industrial/environments/advanced_chemical_reactor.py
  src/neorl_industrial/environments/advanced_power_grid.py
  src/neorl_industrial/experiments/research_validation.py
  src/neorl_industrial/i18n/localization.py
  src/neorl_industrial/optimization/adaptive_caching.py
  src/neorl_industrial/optimization/distributed_computing.py
  src/neorl_industrial/resilience/error_recovery.py
  src/neorl_industrial/security/security_monitor.py
  src/neorl_industrial/utils.py
  src/neorl_industrial/validation/input_validator.py
  test_env/bin/python
  test_env/bin/python3
  test_env/bin/python3.12
  test_env/lib64
  tests/test_research_integration.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/algorithms-team, @terragon-labs/core-team, @terragon-labs/environment-team

feat(research): add advanced research modules and autonomous SDLC success
  AUTONOMOUS_SDLC_SUCCESS.md
  DEPLOYMENT_GUIDE_RESEARCH.md
  RESEARCH_IMPLEMENTATION_SUMMARY.md
  RESEARCH_PAPER_ABSTRACTS.md
  examples/advanced_research_demo.py
  src/neorl_industrial/benchmarks/industrial_benchmarks.py
  src/neorl_industrial/research/__init__.py
  src/neorl_industrial/research/continual_learning.py
  src/neorl_industrial/research/distributed_training.py
  src/neorl_industrial/research/foundation_models.py
  src/neorl_industrial/research/meta_learning.py
  src/neorl_industrial/research/neural_architecture_search.py
  src/neorl_industrial/research/novel_algorithms.py
  src/neorl_industrial/research/research_accelerator.py
  test_research_capabilities.py
  test_structure_only.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/core-team

docs: enhance architecture with data flow diagrams and performance specs
  docs/ARCHITECTURE.md
Owners: @danieleschmidt, @terragon-labs/documentation-team

test: enhance testing infrastructure with performance and contract testing
  tests/contracts/conftest.py
  tests/performance/conftest.py
Owners: @danieleschmidt, @terragon-labs/core-team, @terragon-labs/performance-team

build: enhance containerization with comprehensive security framework
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  SECURITY.md
  docs/deployment/docker_security.md
  scripts/generate_sbom.py
Owners: @danieleschmidt, @terragon-labs/devops-team, @terragon-labs/security-team, @terragon-labs/documentation-team

feat: enhance monitoring and observability with comprehensive instrumentation
  docs/monitoring/observability_guide.md
  monitoring/otel-config.yml
Owners: @danieleschmidt, @terragon-labs/devops-team, @terragon-labs/sre-team

docs: create comprehensive GitHub Actions workflow templates and troubleshooting guide
  docs/workflows/examples/industrial-compliance.yml
  docs/workflows/examples/industrial-release.yml
  docs/workflows/troubleshooting.md
Owners: @danieleschmidt, @terragon-labs/documentation-team

feat: implement comprehensive metrics collection and automation orchestration system
  scripts/automation_orchestrator.py
  scripts/repository_maintenance.py
Owners: @danieleschmidt, @terragon-labs/devops-team

docs: complete TERRAGON-OPTIMIZED SDLC implementation with comprehensive summary
  SDLC_IMPLEMENTATION_SUMMARY.md
Owners: @danieleschmidt, @terragon-labs/documentation-team

feat(benchmarks): add baseline agents, research metrics, and statistical analysis
  src/neorl_industrial/_version.py
  src/neorl_industrial/agents/base.py
  src/neorl_industrial/benchmarks/__init__.py
  src/neorl_industrial/benchmarks/baseline_agents.py
  src/neorl_industrial/benchmarks/research_metrics.py
  src/neorl_industrial/benchmarks/statistical_analysis.py
  src/neorl_industrial/exceptions.py
  src/neorl_industrial/optimization/auto_tuning.py
  src/neorl_industrial/quality_gates/gate_executor.py
  src/neorl_industrial/quality_gates/quality_metrics.py
  src/neorl_industrial/validation/__init__.py
  src/neorl_industrial/validation/input_validator.py
Owners: @danieleschmidt, @terragon-labs/core-team, @terragon-labs/algorithms-team

style(code formatting): improve line breaks and formatting for readability
  src/neorl_industrial/__init__.py
  src/neorl_industrial/_version.py
  src/neorl_industrial/agents/base.py
  src/neorl_industrial/agents/cql.py
  src/neorl_industrial/agents/iql.py
  src/neorl_industrial/agents/td3bc.py
  src/neorl_industrial/benchmarks/industrial_benchmarks.py
  src/neorl_industrial/benchmarks/research_metrics.py
  src/neorl_industrial/compliance/international_standards.py
  src/neorl_industrial/environments/advanced_chemical_reactor.py
Owners: @danieleschmidt, @terragon-labs/core-team, @terragon-labs/algorithms-team, @terragon-labs/environment-team

feat(autonomous-sdlc): add complete TERRAGON Autonomous SDLC V4 execution report
  TERRAGON_AUTONOMOUS_SDLC_V4_COMPLETE.md
  src/neorl_industrial/benchmarks/research_metrics.py
  src/neorl_industrial/environments/advanced_power_grid.py
  src/neorl_industrial/quality_gates/gate_executor.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/core-team, @terragon-labs/environment-team

feat(autonomous-sdlc): complete TERRAGON Autonomous SDLC V4.0 implementation
  PRODUCTION_DEPLOYMENT_GUIDE.md
  TERRAGON_AUTONOMOUS_SDLC_V4_FINAL_REPORT.md
  docker-compose.prod.yml
  k8s/deployment.yaml
  nginx/nginx.conf
  src/neorl_industrial/agents/autonomous_agent.py
  src/neorl_industrial/core/types.py
  src/neorl_industrial/optimization/quantum_accelerated_training.py
  src/neorl_industrial/research/quantum_inspired_algorithms.py
  src/neorl_industrial/resilience/advanced_circuit_breaker.py
  src/neorl_industrial/security/__init__.py
  src/neorl_industrial/security/advanced_security_monitor.py
  validate_implementation.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/devops-team, @terragon-labs/core-team, @terragon-labs/algorithms-team

feat(autonomous-intelligence): add autonomous intelligence and quantum optimization modules
  AUTONOMOUS_ENHANCEMENT_ANALYSIS.md
  TERRAGON_AUTONOMOUS_SDLC_V4_EXECUTION_COMPLETE.md
  src/neorl_industrial/integrations/industry_connectors.py
  src/neorl_industrial/optimization/quantum_neural_optimization.py
  src/neorl_industrial/research/autonomous_intelligence.py
  src/neorl_industrial/research/breakthrough_algorithms.py
Owners: @danieleschmidt, @terragon-labs/documentation-team, @terragon-labs/core-team

refactor(security): refactor security monitoring with new threat detectors and event handling
  src/neorl_industrial/_version.py
  src/neorl_industrial/exceptions.py
  src/neorl_industrial/security/__init__.py
  src/neorl_industrial/security/security_monitor.py
Owners: @danieleschmidt, @terragon-labs/core-team
